<div id="app">
  <header>
    <h1 class="text-center title">Australian Recipe Converter </h1>
  </header>

  <div class="container">


  <div class="row">
    <div class="col-sm-6 text-center">
      <div class="new-post">
        {{textarea value=recipe cols="50" rows="10" placeholder=example}}
        <button class="btn btn-default" {{action 'convertRecipe' recipe}}>Convert</button>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="new-post">
        {{textarea value=convertedRecipe cols="50" rows="10"}}
      </div>
    </div>
</div>
  </div>

<footer class="fixed-bottom">
<div class="text-center">
  <a href="https://github.com/tchan/ember-recipe">View Source </a>
</div>
</footer>

</div>
<!-- end container-fluid -->
